.recipe-overview-list{
    --grid-gaps: 1rem;

    display: grid;
    grid-template-columns: 100%;
    column-gap: var(--grid-gaps);
    row-gap: var(--grid-gaps)
}

@media (min-width: 1024px) {
    .recipe-overview-list {
        grid-template-columns: repeat(2, calc(50% - 1/2 * var(--grid-gaps)));
    }
}

@media (min-width: 1920px) {
    .recipe-overview-list {
        grid-template-columns: repeat(3, calc(33% - 1/2 * var(--grid-gaps)));
    }
}

