@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src: url('../fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

  html,
  body,
  body>div:first-child,
  div#__next,
  div#__next>div:not(.error-boundary) {
    /* TODO LATER IN THE PROJECT CHECK IF THAT RULE INTRODUCES UNWANTED SCROLLBARS */
    min-height: 100vh;
  }


  .sidebar,
  .navigation{
    max-width: 500px;
  }

  .app-layout{
    width: 100%;
    max-width: min(100%, 1920px);
  }